:root {
  /* Colors */

  /* Primary */
  --Lime: hsl(61, 70%, 52%);
  --Red: hsl(4, 69%, 50%);
  /* Neutral */
  --White: hsl(0, 0%, 100%);
  --Slate-100: hsl(202, 86%, 94%);
  --Slate-300: hsl(203, 41%, 72%);
  --Slate-500: hsl(200, 26%, 54%);
  --Slate-700: hsl(200, 24%, 40%);
  --Slate-900: hsl(202, 55%, 16%);

  /* Font Family */
  --ff-main: "Plus Jakarta Sans", serif;

  /* Font Size */

  --fs-main: var(var(--spacing-200));

  /* Font weight */
  --fw-normal: 500;
  --fw-bold: 700;

  /* Text Preset */

  --text-preset-1: 3.5rem;
  --text-preset-2: 1.5rem;
  --text-preset-3: 1.125rem;
  --text-preset-4: 1rem;
  --text-preset-5: 0.875rem;

  /* Spacing */
  --spacing-100: 0.5rem;
  --spacing-150: 0.75rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing--500: 2.5rem;
}

body {
  font-family: var(--ff-main);
  font-size: var(--text-preset-3);
  font-weight: var(--fw-normal);
  color: var(--Slate-900);
  background: var(--color-slate-100, #e4f4fd);

  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container Styling */

.container {
  display: flex;
  max-width: 60rem;
  width: 100%;
  height: 90vh;
  margin: 0 auto;
  background: var(--color-white, #fff);
  border-radius: 1.5rem;
}

@media (min-width: 100em) {
  .container {
    height: 70vh;
  }
}

.mortgage-calculator,
.img_container {
  flex: 1; /* Each takes up equal space */
  width: 50%;
}

/* Mortgage Calculator Left Side Styling */

.mortgage-calculator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--spacing--500);
  gap: var(--spacing-300, 24px);
}

/* Title Styling */

.first_row_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.first_row_flex h3 {
  font-size: var(--font-size-text-preset-2, 24px);
}

.first_row_flex p {
  color: var(--color-slate-700, #4e6e7e);
  font-size: var(--font-size-text-preset-4, 16px);
  text-decoration: underline;
  cursor: pointer;
}

.first_row_flex p:hover {
  color: var(--color-slate-900, #133041);
}

.first_row_flex p:active {
  color: var(--color-slate-900, #133041);
}

/* Mortgage form Styling */

.mortgage_amount {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: var(--spacing-100);
}

.mortgage_amount label {
  color: var(--color-slate-700, #4e6e7e);
  font-size: var(--font-size-text-preset-4, 16px);
}

/* Input group styling */
.input-group {
  position: relative;
  display: flex;
  width: 100%;
}

.input-group > span,
.input-group .mortgage_amount_input {
  white-space: nowrap; /* Prevents text wrapping in span or input */
  display: block;
}

.input-group > span {
  text-align: center;
  padding: var(--spacing-100) var(--spacing-200);
  font-size: var(--font-size-text-preset-4, 16px);
  color: var(--color-slate-700, #4e6e7e);
  font-weight: var(--fw-bold);
  background: #e4f4fd;
  border: 1.3px solid var(--color-slate-500, #6b94a8);
  border-right: none;
  border-radius: 4px 0 0 4px;
  transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
}

.input-group .mortgage_amount_input {
  flex: 1 1 auto; /* Allows input to expand and fill available space */
  padding: var(--spacing-100) 12px;
  border: 1.3px solid var(--color-slate-500, #6b94a8);
  border-radius: 0 4px 4px 0;
  font-size: var(--font-size-text-preset-4, 16px);
  transition: border 0.3s ease;
}

.input-group .mortgage_amount_input:hover {
  border-color: var(--Slate-900);
}

.input-group .mortgage_amount_input:focus {
  outline: none;
  border-color: var(--Lime);
}

.input-group:focus-within > span {
  background: var(--Lime);
  color: #fff;
  border-color: var(--Lime);
}

/* Mortgage term and Interest Rate Styling */
.mortgage_term_rate {
  display: flex;
  gap: var(--spacing-300);
  align-self: stretch;
}

.mortgage_term,
.interest_rate {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--spacing-100, 0rem);
}

.mortgage_term input,
.interest_rate input {
  width: 100%;
  padding: var(--spacing-100);
  border: 1px solid var(--color-slate-500, #6b94a8);
  border-radius: 4px;
}

.mortgage_term label,
.interest_rate label {
  color: var(--color-slate-700, #4e6e7e);
  font-size: var(--font-size-text-preset-4, 16px);
}
/* Mortgage Type Styling */
.mortgage_type_form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
  flex: 1;
  width: 100%;
}
.mortgage_type_form > label {
  font-size: var(--font-size-text-preset-4, 16px);
  color: var(--color-slate-700, #4e6e7e);
}

.radio_group {
  display: flex;
  flex: 1;
  align-items: center;
  gap: var(--spacing-100);
  font-weight: var(--fw-bold);
  padding: var(--spacing-150, 16px) var(--spacing-150);
  border: 1px solid var(--color-slate-500, #6b94a8);
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

/* .radio_group input[type="radio"] {
  accent-color: var(--Lime);
} */
.radio_group:hover {
  border: 1px solid var(--Lime);
}

/* .radio_group:active {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    var(--color-lime, #d8db2f);
} */

.radio_group:checked {
  background-color: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    var(--color-lime, #d8db2f);
}

/* Button Styling */

.calculate_btn {
  display: flex;
  padding: var(--spacing-150) var(--spacing-400);
  gap: var(--spacing-300, 24px);
  align-items: center;
  border-radius: 100vmax;
  border: none;
  cursor: pointer;
  background: var(--Lime, #d8db2f);
  transition: 0.5s ease;
}

.calculate_btn:hover {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    var(--Lime, #d8db2f);
}

/* Image Container Styling */
.img_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--White);
  gap: var(--spacing-200);
  border-radius: 0rem 1.5rem 1.5rem 5rem;
  background: var(--color-slate-900, #133041);
  padding: var(--spacing--500);
}

.img_container h2 {
  font-size: var(--font-size-text-preset-2, 24px);
}

.img_container p {
  color: var(--color-slate-300, #9abed5);
  font-size: var(--font-size-text-preset-4, 16px);
  text-align: center;
}
